body {
  background-color: rgb(153, 186, 228);
  align-items: center;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.form{
    display: flex;
    border: 1px;
    margin-bottom: ;
    margin-left: ;
}
