body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

#output {
    font-size: 48px;
    margin-bottom: 20px;
}

#knapp {
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    background-color: #ffb703;
    cursor: pointer;
}

#knapp:hover {
    background-color: #fb8500;
}
